header{ 
    background-color:rgb(230, 23, 23); 
    color:beige; 
} 
body{ background-color:brown; 
    color:aquamarine;
    
    
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho{
    background-color: rgb(142, 249, 35);
    display: flex;
}